# Build results
bin/
obj/

# Visual Studio cache
.vs/

# User-specific files
*.user
*.suo

# Build logs
*.log

# NuGet packages
*.nupkg
packages/

# Rider / JetBrains
.idea/
*.sln.iml

# DotNet tools
*.db

# Publish output
publish/
